In [1]:
import numpy as np
import seaborn as sn
import pandas as pd
import matplotlib.pyplot as plt
df1 = pd.read_csv("Copy of college_1.csv")
df1

              Name  python  ...                              Department  Rising
0        A.Dharani    82.0  ...        Computer Science and Engineering       0
1      V.JEEVITHA     82.0  ...        Computer Science and Engineering       0
2      HEMAVATHI.R   100.0  ...        Computer Science and Engineering       0
3      Mugunthan S   100.0  ...        Computer Science and Engineering       0
4      Sathammai.S   100.0  ...        Computer Science and Engineering       0
..             ...     ...  ...                                     ...     ...
79    KarthikeyanS    45.0  ...  Electronics and Electrical Engineering       0
80        BARATH.P    29.0  ...  Electronics and Electrical Engineering       0
81   N.Ajith kumar    82.0  ...  Electronics and Electrical Engineering       0
82    mohamed nabi     0.0  ...  Electronics and Electrical Engineering       0
83  yaser ahamed.A     0.0  ...  Electronics and Electrical Engineering       0

[84 rows x 7 columns]

In [2]:
df2 = pd.read_csv("Copy of college_2.csv")
df2

                      Name  ...  Rising
0            ASHOK KUMAR K  ...       0
1                  Chandru  ...     340
2        Ganesh Ramkumar R  ...    2000
3          Bodipudi Harini  ...       0
4                VIINU V P  ...       0
5               Poojitha Y  ...    1760
6   Gowtham Chandrasekaran  ...    1700
7                Gowtham R  ...       0
8                 shifak N  ...    3140
9                  Balaji   ...    1990
10                Rushitha  ...     620
11    Balaraman Muthupandi  ...     380
12                JPradhap  ...     690
13           SRIRAMKUMAR B  ...    1540
14               Praneetha  ...     560
15             Rahul Raj K  ...    1360
16                 Guhan S  ...     320
17            Suryarajan S  ...     840
18          Narasimhan Y L  ...    2000
19            Leelakrishna  ...    1340
20          PremsagarReddy  ...    1000
21               pradeeban  ...      30
22             santhoshini  ...    1830
23              MUKESH S M  ...       0
24           P.GOVARDHANAN  ...       0
25            SHAIK DANISH  ...     770
26               sridhar.s  ...     580
27       Vimalesh Fernando  ...       0
28           M.Karthikeyan  ...       0
29               Abishak s  ...       0
30           praveen raj j  ...       0
31              AMARNATH D  ...       0
32                    bala  ...       0
33                    XY Z  ...       0
34               Hariharan  ...       0

[35 rows x 9 columns]

In [3]:
#merging two dataframe
df3 = pd.concat([df1,df2],axis =0)
df3

             Name  python  mysql  ...  Rising  python_en computational_thinking
0       A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1     V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2     HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN
3     Mugunthan S   100.0   47.0  ...       0        NaN                    NaN
4     Sathammai.S   100.0    8.0  ...       0        NaN                    NaN
..            ...     ...    ...  ...     ...        ...                    ...
30  praveen raj j    24.0    0.0  ...       0       -1.0                    0.0
31     AMARNATH D    -1.0   12.0  ...       0       52.0                   -1.0
32           bala    32.0    0.0  ...       0       49.0                   -1.0
33           XY Z    -1.0   -1.0  ...       0       20.0                   -1.0
34      Hariharan    -1.0   -1.0  ...       0       -1.0                    0.0

[119 rows x 9 columns]

In [4]:
#coverting csv into mutliple category

In [5]:
import pandas as pd
data = pd.read_csv('Copy of college_1.csv')
k =4
size = 50
for i in range(k):
  df = data[size*i:size*(i+1)]
  df.to_csv(f'college_{i+1}.csv',index = False)
df_1 = pd.read_csv('college_3.csv')
df_1

Empty DataFrame
Columns: [Name, python, mysql, Previous Geekions, CodeKata Score, Department, Rising]
Index: []

In [6]:
import pandas as pd
data = pd.read_csv('Copy of college_2.csv')
k =4
size = 50
for i in range(k):
  df = data[size*i:size*(i+1)]
  df.to_csv(f'collegenew_{i+1}.csv',index = False)
df_3 = pd.read_csv('collegenew_1.csv')
df_3

                      Name  ...  Rising
0            ASHOK KUMAR K  ...       0
1                  Chandru  ...     340
2        Ganesh Ramkumar R  ...    2000
3          Bodipudi Harini  ...       0
4                VIINU V P  ...       0
5               Poojitha Y  ...    1760
6   Gowtham Chandrasekaran  ...    1700
7                Gowtham R  ...       0
8                 shifak N  ...    3140
9                  Balaji   ...    1990
10                Rushitha  ...     620
11    Balaraman Muthupandi  ...     380
12                JPradhap  ...     690
13           SRIRAMKUMAR B  ...    1540
14               Praneetha  ...     560
15             Rahul Raj K  ...    1360
16                 Guhan S  ...     320
17            Suryarajan S  ...     840
18          Narasimhan Y L  ...    2000
19            Leelakrishna  ...    1340
20          PremsagarReddy  ...    1000
21               pradeeban  ...      30
22             santhoshini  ...    1830
23              MUKESH S M  ...       0
24           P.GOVARDHANAN  ...       0
25            SHAIK DANISH  ...     770
26               sridhar.s  ...     580
27       Vimalesh Fernando  ...       0
28           M.Karthikeyan  ...       0
29               Abishak s  ...       0
30           praveen raj j  ...       0
31              AMARNATH D  ...       0
32                    bala  ...       0
33                    XY Z  ...       0
34               Hariharan  ...       0

[35 rows x 9 columns]

In [7]:
import pandas as pd
data = pd.read_csv('Copy of college_1.csv')
df4 = df3[df3['CodeKata Score']>=15000]
df4.to_csv(f' Exceeded expectations.csv',index = False)
df_1 = pd.read_csv(' Exceeded expectations.csv')
df_1

            Name  python  mysql  ...  Rising  python_en computational_thinking
0      A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1    V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2    HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN
3  ASHOK KUMAR K   100.0   31.0  ...       0        0.0                    9.0

[4 rows x 9 columns]

In [8]:
#consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv
import pandas as pd
data = pd.read_csv('Copy of college_1.csv')
df4 = df3[df3['CodeKata Score']>=15000]
df4.to_csv(f' Exceeded expectations.csv',index = False)
df_1 = pd.read_csv(' Exceeded expectations.csv')
df_1

            Name  python  mysql  ...  Rising  python_en computational_thinking
0      A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1    V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2    HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN
3  ASHOK KUMAR K   100.0   31.0  ...       0        0.0                    9.0

[4 rows x 9 columns]

In [14]:
#if 10000<codekata score<15000 (Reached_expectations.csv)
import pandas as pd
data = pd.read_csv('Copy of college_1.csv')
df5 = df3[df3['CodeKata Score'].between(10000,15000,inclusive = True)]
df5.to_csv(f' Reached_expectations.csv',index = False)
df_2= pd.read_csv(' Reached_expectations.csv')
df_2

                Name  python  mysql  ...  Rising  python_en computational_thinking
0        Mugunthan S   100.0   47.0  ...       0        NaN                    NaN
1            Chandru     0.0    0.0  ...     340       20.0                    0.0
2  Ganesh Ramkumar R    -1.0   24.0  ...    2000       55.0                    6.0
3    Bodipudi Harini    -1.0   35.0  ...       0        0.0                   -1.0

[4 rows x 9 columns]

In [ ]:
#if 7000<codekata score<10000 (Needs_Improvement.csv)
import pandas as pd

df6 = df3[df3['CodeKata Score'].between(7000,10000,inclusive = True)]
df6.to_csv(f' Needs_Improvement.csv',index = False)
df_3 = pd.read_csv('Needs_Improvement.csv')
df_3

In [23]:
#if codekate score < 7000 (Unsatisfactory.csv)
import pandas as pd
df3 = pd.concat([df1,df2],axis =0)
df7 = df3[df3['CodeKata Score']<7000]
df7.to_csv(f'Unsatisfactory.csv',index = False)
df_4 = pd.read_csv('Unsatisfactory.csv')
df_4

               Name  python  mysql  ...  Rising  python_en computational_thinking
0        J.SUGANTHI    27.0  50.00  ...       0        NaN                    NaN
1      thamizhpaana    29.0   0.00  ...       0        NaN                    NaN
2   Iyappan Samiraj    50.0  24.00  ...       0        NaN                    NaN
3      Ponniyamma.R   100.0  11.25  ...       0        NaN                    NaN
4         SABAPATHI   100.0   0.00  ...       0        NaN                    NaN
..              ...     ...    ...  ...     ...        ...                    ...
88    praveen raj j    24.0   0.00  ...       0       -1.0                    0.0
89       AMARNATH D    -1.0  12.00  ...       0       52.0                   -1.0
90             bala    32.0   0.00  ...       0       49.0                   -1.0
91             XY Z    -1.0  -1.00  ...       0       20.0                   -1.0
92        Hariharan    -1.0  -1.00  ...       0       -1.0                    0.0

[93 rows x 9 columns]